@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: rgb(81, 81, 81);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.form {
  width: 60%;
  border: 1px solid rgba(128, 128, 128, 0.571);
  padding: 2rem;
  border-radius: 10px;
}

.error {
  color: red;
  margin: 0 0 1rem 0;
  font-size: 12px;
}

#experience {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.min-exp, .max-exp {
  width: 49.5%;
}

.header1 {
  color: rgb(56, 182, 119);
  font-size: 25px;
}

label {
  margin-bottom: 0.5rem;
  display:inline-block;
  font-size: 13px;
  color: rgb(76, 76, 76);
}

.not-required {
  margin-top: 1.5rem;
}

hr {
  margin-bottom: 2rem;
  border: 0.01rem solid rgba(128, 128, 128, 0.55);
}

.text, textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: rgba(76, 76, 76, 0.857);
  padding: 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.55);
}

textarea {
  height: 100px;
}

.location-cont, .skill-cont, .salary-input {
  display: flex;
  border: 1px solid rgba(74, 74, 74, 0.471);
  border-radius: 5px;
}

.time-period input {
  margin: 1rem 0.5rem 1rem 2rem;
}

.add-icon, .currency-icon {
  border-radius: 5px 0 0 5px;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(96, 96, 96);
  background-color: rgb(239, 239, 239);
}

.currency-icon:hover {
  background-color: rgb(225, 225, 225);
  cursor: pointer;
}

.salary-cont {
  position: relative;
}

.currency-options {
  background-color: white;
  display: flex;
  border: 1px solid rgba(164, 164, 164, 0.455);
  flex-direction: column;
  position: absolute;
  bottom: -2.75rem;
  width: 5%;
  height: 90px;
}

.inr, .eur, .usd {
  font-size: 13px;
  border-bottom: 0.05rem solid rgba(128, 128, 128, 0.299);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  color: rgb(96, 96, 96);
  height: 33.4%;
}

.inr:hover, .eur:hover, .usd:hover {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.location, .skill, .salary {
  border: none;
}

.post-btn {
  font-weight: 400;
  color: white;
  background-color: rgb(35, 145, 93);
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border-radius: 5px;
  font-size: 13px;
  padding: 5px;
  margin-right: 1rem;
}

.reset-btn {
  font-weight: 400;
  color: white;
  border: 1px solid rgb(35, 145, 93);
  color: rgb(35, 145, 93);
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border-radius: 5px;
  font-size: 13px;
  padding: 5px;
}

.btn-cont {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  margin-top: 1.5rem;
}

.post-btn:hover, .reset-btn:hover {
  cursor: pointer;
}

.skill-label {
  margin-top: 0rem;
}